body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: rgba(255, 255, 0, 0.2);
}
#container{
    display: flex;
    flex-direction: column;
}
#container > div {
    border: 1px solid black;
    height: 10px;
}